{% block header %}
{% load static %}
{% load static %}
<link rel="stylesheet" href="{% static 'estilos/styles.css' %}">
<nav class="nav">
    <div class="container-fluid">
        <div class="nav-items">
            <a href="{% url 'home' %}">Home</a>
        </div>
        <div class="nav-items">   
            <a href="{% url 'clients' %}">Clientes</a>
        </div>
        <div class="nav-items">   
            <a href="{% url 'create_factura'%}">Facturar</a>
        </div>
        <div class="nav-items">   
            <a href="{% url 'crear_producto'%}">crear producto</a>
        </div>
        <div class="nav-items">   
            <a href="{% url 'categories'%}">Productos</a>
        </div>
        <div class="nav-items">   
            <a href="{% url 'misventas' %}">Mis ventas</a>
        </div>
        <div class="nav-items">   
            <a href="{% url 'signout' %}">Cerrar sesion</a>
        </div>
       

    </div>
</nav>

{% endblock %}