{% extends 'base.html' %}
{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
{% load static %}
<style>
    body {
        background-image: url("{% static 'img/tote.jfif' %}");
        background-size: cover;
        background-position:top;
        background-repeat:no-repeat;
    }
</style>
<H1  class="text-center mt-5 text-light display-1">Anahion tienda de tote bag</H1>
<div class="text-center display-3">
    <p>Dirección:Floresta 1 villa 21 mz 1</p>
    <p>Telefono:0985678992 - 0987622666</p>
</div>



{%endblock%}