{% extends 'base.html' %}
{% block header %}
{% include 'header.html' %}
{% endblock %}
{% block content %}
{% load static %}
<div class="container">
    <h1 class="text-center my-5 display-2">Listado de ventas</h1>
        <div>
            <form class="d-flex justify-content-center mx-3" role="search">
              <input class="form-control" type="search" placeholder="Ingrese nombre" aria-label="Search"  value="{{ request.GET.buscar }}" name="buscar">
              <button class="btn btn-outline-secondary mx-3" type="submit">Buscar</button>
            </form>
        </div>
    <table class="table mt-5">
        <tr>
            <td><strong>Numero de factura</strong></td>
            <td><strong>Fecha</strong></td>
            <td><strong>Cliente</strong></td>
            <td><strong>Productos</strong></td>
            <td><strong>Cantidad</strong></td>
            <td><strong>Subtotal</strong></td>
            <td><strong>Total</strong></td>
            <td><strong>Opciones</strong></td> 
        <tr>
            {% for venta in ventas %}
            <tr>
                <td>{{ venta.invoice_number }}</td>
                <td>{{ venta.date }}</td>
                <td>{{ venta.client }}</td>
                <td>
                    {% for producto in venta.product.all %}
                        {{ producto.product_name }}
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>{{ venta.quantity }}</td>
                <td>{{ venta.subtotal }}</td>
                <td>{{ venta.total }}</td>
                <td>
                <form method="POST" action="{% url 'delete_sale' id=venta.id %}">
                    {% csrf_token %}
                    <button class="btn">
                        <img src="{% static 'img/delete.png' %}">
                    </button>
                </form>
                </td>     
            </tr>
            {% endfor %}
    </table>
</div>
{% endblock %}