{% extends 'base.html' %}
{% block header %}
{% include 'header.html' %}
{% endblock %}
{% block content %}
{% load static %}
<div class="container">
   <h2 class="text-center mt-5 display-2">Realiza tu factura aqui</h2>
   <div class="mt-5">
      <form method='POST' action="{% url 'create_factura' %}">
         {% csrf_token %}
            {{form_factura}}
          <div class="d-flex justify-content-center my-2">
              <input class="btn btn-primary " type="submit" value="GENERAR FACTURA">
          </div>
       
      </form>
     
    
   </div>

</div>
{% endblock %}