{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>
  .bg-color{
    background-color: rgb(230, 121, 215);
  }
  .text-center{
    text-align: center;
  }
  .mt{
    margin-top:  1rem;
  }
  .p{
    padding-top: 1rem;
  }
  .color{
    color: blue;
    font-weight: 900;

  }
</style>
<div class="p">
    <h1 class="bg-color text-center">ToteBag Anahion</h1>
    <p class="text-center">Tienda de bolsos</p>
</div>


<h2>Datos de la compañia</h2>
<form>
    <p>Dirección: Urdesa central Av las monjas</p>
    <p>Telefono: 0985882565 - 23456789</p>
</form>
<form>
    <table>
      <h1>Factura Generada</h1>
      <tr>
        <td >Número de factura:</td>
        <td  colspan="2">{{ factura.invoice_number }}</td>
      </tr>
      <tr>
        <td>Fecha:</td>
        <td colspan="2">{{ factura.date }}</td>
      </tr>
      <tr>
        <td>Cliente:</td>
        <td colspan="2">{{ factura.client }}</td>
      </tr>
      <tr>
        <th  class="text-center">Producto</th>
        <th  class="text-center">Precio</th>
        <th  class="text-center">Cantidad</th>
      </tr>
      {% for producto in factura.product.all %}
        <tr>
          <td  class="text-center">{{ producto.product_name }}</td>
          <td  class="text-center">${{ producto.price }}</td>
          <td  class="text-center">{{ factura.quantity }}</td>
        </tr>
      {% endfor %}
    <div>
      <tr  class="p color">
        <td>Subtotal:</td>
        <td colspan="3">${{ factura.subtotal }}</td>
      </tr>
      <tr  class=" color">
        <td>Total:</td>
        <td  colspan="3">${{ factura.total }}</td>
      </tr>

    </div>
      
    </table>
  </form>
  {% endblock %}